html
    head
        style
            include style.css
    body
        div
            | HELLO CHAT
            br
            | Верстка буде
            p This is P
        div
            block content
        div.footer
            | Best regards